<div class="wrapper">
  <div class="list-section card" #list>
    <div class="card-header search-box">
      <div class="input-wrapper">
        <input type="text" placeholder="Search..." />
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
    </div>
    <div class="list" id="list-scroll">
      <div class="item active">
        <div class="profile-pic-circle">
          <img src="../../assets/images/default-avatar.png" alt="" />
          <span class="online-status online"></span>
        </div>
        <div class="description">
          <span>Ajinath Ghodake</span><label>Ajinath is online</label>
        </div>
      </div>
      <div class="item">
        <div class="profile-pic-circle">
          <img src="../../assets/images/default-avatar.png" alt="" />
          <span class="online-status offline"></span>
        </div>
        <div class="description">
          <span>Miyami Jaz</span><label>Ajinath is online</label>
        </div>
      </div>
      <div class="item">
        <div class="profile-pic-circle">
          <img src="../../assets/images/default-avatar.png" alt="" />
          <span class="online-status offline"></span>
        </div>
        <div class="description">
          <span>Sahar Darya</span><label>Ajinath is online</label>
        </div>
      </div>
      <div class="item">
        <div class="profile-pic-circle">
          <img src="../../assets/images/default-avatar.png" alt="" />
          <span class="online-status offline"></span>
        </div>
        <div class="description">
          <span>Yaldouz Rafi</span><label>Ajinath is online</label>
        </div>
      </div>
      <div class="item">
        <div class="profile-pic-circle">
          <img src="../../assets/images/default-avatar.png" alt="" />
          <span class="online-status offline"></span>
        </div>
        <div class="description">
          <span>Brawn Jaz</span><label>Ajinath is online</label>
        </div>
      </div>
      <div class="item">
        <div class="profile-pic-circle">
          <img src="../../assets/images/default-avatar.png" alt="" />
          <span class="online-status offline"></span>
        </div>
        <div class="description">
          <span>Tin Brew</span><label>Ajinath is online</label>
        </div>
      </div>
      <div class="item">
        <div class="profile-pic-circle">
          <img src="../../assets/images/default-avatar.png" alt="" />
          <span class="online-status offline"></span>
        </div>
        <div class="description">
          <span>Tin Brew</span><label>Ajinath is online</label>
        </div>
      </div>
      <div class="item">
        <div class="profile-pic-circle">
          <img src="../../assets/images/default-avatar.png" alt="" />
          <span class="online-status offline"></span>
        </div>
        <div class="description">
          <span>Tin Brew</span><label>Ajinath is online</label>
        </div>
      </div>
      <div class="item">
        <div class="profile-pic-circle">
          <img src="../../assets/images/default-avatar.png" alt="" />
          <span class="online-status offline"></span>
        </div>
        <div class="description">
          <span>Tin Brew</span><label>Ajinath is online</label>
        </div>
      </div>
      <div class="item">
        <div class="profile-pic-circle">
          <img src="../../assets/images/default-avatar.png" alt="" />
          <span class="online-status offline"></span>
        </div>
        <div class="description">
          <span>Tin Brew</span><label>Ajinath is online</label>
        </div>
      </div>
      <div class="item">
        <div class="profile-pic-circle">
          <img src="../../assets/images/default-avatar.png" alt="" />
          <span class="online-status offline"></span>
        </div>
        <div class="description">
          <span>Miyami Jaz</span><label>Ajinath is online</label>
        </div>
      </div>
      <div class="item">
        <div class="profile-pic-circle">
          <img src="../../assets/images/default-avatar.png" alt="" />
          <span class="online-status offline"></span>
        </div>
        <div class="description">
          <span>Sahar Darya</span><label>Ajinath is online</label>
        </div>
      </div>
      <div class="item">
        <div class="profile-pic-circle">
          <img src="../../assets/images/default-avatar.png" alt="" />
          <span class="online-status offline"></span>
        </div>
        <div class="description">
          <span>Yaldouz Rafi</span><label>Ajinath is online</label>
        </div>
      </div>
      <div class="item">
        <div class="profile-pic-circle">
          <img src="../../assets/images/default-avatar.png" alt="" />
          <span class="online-status offline"></span>
        </div>
        <div class="description">
          <span>Brawn Jaz</span><label>Ajinath is online</label>
        </div>
      </div>
      <div class="item">
        <div class="profile-pic-circle">
          <img src="../../assets/images/default-avatar.png" alt="" />
          <span class="online-status offline"></span>
        </div>
        <div class="description">
          <span>Tin Brew</span><label>Ajinath is online</label>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-section card">
    <div class="chat-card-header">
      <button (click)="onClickAction()">&#9776;</button>
      <div class="chat-card-wrapper">
        <div class="profile-pic-circle chat-header-profile-pic">
          <img src="../../assets/images/default-avatar.png" alt="" />
          <span class="online-status online"></span>
        </div>
        <div class="description">
          <span>Chat with Ajinath Ghodake</span>
          <label>148 messsages</label>
        </div>
        <div class="actions">
          <i class="fa fa-video-camera fa-video" aria-hidden="true"></i>
          <i class="fa fa-phone" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="list-messages" id="list-scroll">
      <div class="message-wrapper sender">
        <div class="profile-pic-circle">
          <img src="../../assets/images/default-avatar.png" />
        </div>
        <div class="message-container">
          <span>Lorem Ipsum is simply dummy.</span>
        </div>
        <div class="message-time">8:40 AM, Today</div>
      </div>
      <div class="message-wrapper receiver">
        <div class="message-container">
          <span>Lorem Ipsum is simply dummy text.</span>
        </div>
        <div class="profile-pic-circle">
          <img src="../../assets/images/default-avatar.png" />
        </div>
        <div class="message-time">8:40 AM, Today</div>
      </div>
      <div class="message-wrapper sender">
        <div class="profile-pic-circle">
          <img src="../../assets/images/default-avatar.png" />
        </div>
        <div class="message-container">
          <span>Lorem Ipsum is simply dummy.</span>
        </div>
        <div class="message-time">8:40 AM, Today</div>
      </div>
      <div class="message-wrapper receiver">
        <div class="message-container">
          <span>Lorem Ipsum is simply dummy text.</span>
        </div>
        <div class="profile-pic-circle">
          <img src="../../assets/images/default-avatar.png" />
        </div>
        <div class="message-time">8:40 AM, Today</div>
      </div>
      <div class="message-wrapper sender">
        <div class="profile-pic-circle">
          <img src="../../assets/images/default-avatar.png" />
        </div>
        <div class="message-container">
          <span>Lorem Ipsum is simply dummy.</span>
        </div>
        <div class="message-time">8:40 AM, Today</div>
      </div>
      <div class="message-wrapper receiver">
        <div class="message-container">
          <span>Lorem Ipsum is simply dummy text.</span>
        </div>
        <div class="profile-pic-circle">
          <img src="../../assets/images/default-avatar.png" />
        </div>
        <div class="message-time">8:40 AM, Today</div>
      </div>
      <div class="message-wrapper sender">
        <div class="profile-pic-circle">
          <img src="../../assets/images/default-avatar.png" />
        </div>
        <div class="message-container">
          <span>Lorem Ipsum is simply dummy.</span>
        </div>
        <div class="message-time">8:40 AM, Today</div>
      </div>
      <div class="message-wrapper receiver">
        <div class="message-container">
          <span>Lorem Ipsum is simply dummy text.</span>
        </div>
        <div class="profile-pic-circle">
          <img src="../../assets/images/default-avatar.png" />
        </div>
        <div class="message-time">8:40 AM, Today</div>
      </div>
      <div class="message-wrapper sender">
        <div class="profile-pic-circle">
          <img src="../../assets/images/default-avatar.png" />
        </div>
        <div class="message-container">
          <span>Lorem Ipsum is simply dummy.</span>
        </div>
        <div class="message-time">8:40 AM, Today</div>
      </div>
      <div class="message-wrapper receiver">
        <div class="message-container">
          <span>Lorem Ipsum is simply dummy text.</span>
        </div>
        <div class="profile-pic-circle">
          <img src="../../assets/images/default-avatar.png" />
        </div>
        <div class="message-time">8:40 AM, Today</div>
      </div>
      <div class="message-wrapper sender">
        <div class="profile-pic-circle">
          <img src="../../assets/images/default-avatar.png" />
        </div>
        <div class="message-container">
          <span>Lorem Ipsum is simply dummy.</span>
        </div>
        <div class="message-time">8:40 AM, Today</div>
      </div>
      <div class="message-wrapper receiver">
        <div class="message-container">
          <span>Lorem Ipsum is simply dummy text.</span>
        </div>
        <div class="profile-pic-circle">
          <img src="../../assets/images/default-avatar.png" />
        </div>
        <div class="message-time">8:40 AM, Today</div>
      </div>
      <div class="message-wrapper sender">
        <div class="profile-pic-circle">
          <img src="../../assets/images/default-avatar.png" />
        </div>
        <div class="message-container">
          <span>Lorem Ipsum is simply dummy.</span>
        </div>
        <div class="message-time">8:40 AM, Today</div>
      </div>
      <div class="message-wrapper sender">
        <div class="profile-pic-circle">
          <img src="../../assets/images/default-avatar.png" />
        </div>
        <div class="message-container">
          <span>Lorem Ipsum is simply dummy.</span>
        </div>
        <div class="message-time">8:40 AM, Today</div>
      </div>
      <div class="message-wrapper sender">
        <div class="profile-pic-circle">
          <img src="../../assets/images/default-avatar.png" />
        </div>
        <div class="message-container">
          <span
            >Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy Lorem
            Ipsum is simply dummy Lorem Ipsum is simply dummyLorem Ipsum is
            simply dummyLorem Ipsum is simply dummyLorem Ipsum is simply
            dummyLorem Ipsum is simply dummyLorem Ipsum is simply dummyLorem
            Ipsum is simply dummyLorem Ipsum is simply dummyLorem Ipsum is
            simply dummy.</span
          >
        </div>
        <div class="message-time">8:40 AM, Today</div>
      </div>
      <div class="message-wrapper receiver">
        <div class="message-container">
          <span
            >Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy Lorem
            Ipsum is simply dummy Lorem Ipsum is simply dummyLorem Ipsum is
            simply dummyLorem Ipsum is simply dummyLorem Ipsum is simply
            dummyLorem Ipsum is simply dummyLorem Ipsum is simply dummyLorem
            Ipsum is simply dummyLorem Ipsum is simply dummyLorem Ipsum is
            simply dummy.</span
          >
        </div>
        <div class="profile-pic-circle">
          <img src="../../assets/images/default-avatar.png" />
        </div>
        <div class="message-time">8:40 AM, Today</div>
      </div>
    </div>
    <div class="message-footer">
      <i class="fa fa-paperclip fa-attachment" aria-hidden="true"></i>
      <textarea
        name="write-message scroll"
        id="list-scroll"
        placeholder="Type your message here..."
      ></textarea>
      <i class="fa fa-paper-plane fa-send" aria-hidden="true"></i>
    </div>
  </div>
</div>
