:host {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;

  background: #7f7fd5;
  background: -webkit-linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
}

.wrapper {
  position: absolute;
  height: 100%;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: translate(-50%, -50%);
  width: 70%;
  display: flex;
  justify-content: space-between;
  .card {
    height: 100%;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 16px;
    .card-header {
      padding: 0.75rem 1.25rem;
      margin-bottom: 0;
      background-color: rgba(0, 0, 0, 0.03);
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }
  }
  .list-section {
    width: 30%;
    display: flex;
    flex-direction: column;
    .search-box {
      position: relative;
      input {
        width: 100%;
        border-radius: 16px;
        background-color: rgba(0, 0, 0, 0.3);
        border: 0;
        font-size: 20px;
        color: white;
        padding: 8px 40px 8px 8px;
      }
      input:focus {
        box-shadow: none;
        outline: 0;
      }
      .fa-search {
        color: white;
        position: absolute;
        right: 32px;
        line-height: 36px;
      }
    }

    .list {
      padding: 16px 0 16px;
      overflow-y: auto;
      .active {
        background-color: rgba(0, 0, 0, 0.3);
      }
      .item {
        display: flex;
        margin: 16px 0 16px;
        cursor: pointer;
        .description {
          padding: 8px;
          display: flex;
          flex-direction: column;
          span {
            font-size: 22px;
            font-weight: 500;
            color: white;
          }
          label {
            font-size: 12px;
            font-weight: 300;
            color: white;
          }
        }
      }
    }
  }
  .chat-section {
    width: 66%;
    display: flex;
    flex-direction: column;
    .chat-card-header {
      background-color: rgba(0, 0, 0, 0.03);
      position: relative;
      width: 100%;
      left: 0;
      line-height: 0;
      padding: 18px;
      top: 0;
      .chat-card-wrapper {
        display: flex;
        .description {
          padding: 22px;
          line-height: 16px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          color: white;
          span {
            font-size: 22px;
            font-weight: 500;
            color: white;
          }
          label {
            font-size: 12px;
            font-weight: 300;
            color: white;
          }
        }
        .actions {
          color: white;
          padding: 16px;
          justify-content: center;
          display: flex;
          font-size: 22px;
          .fa {
            margin: 16px;
            font-weight: 900;
            cursor: pointer;
          }
        }
      }
    }
    .chat-header-profile-pic {
      height: 70px;
      width: 70px;
      img {
        height: 70px;
        width: 70px;
      }
    }
    .list-messages {
      padding: 16px;
      position: relative;
      overflow-y: auto;
      margin: 0 0 46px;
      .message-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        position: relative;
        .profile-pic-circle {
          height: 40px;
          width: 40px;
          img {
            height: 40px;
            width: 40px;
          }
        }
        .message-container {
          margin-top: auto;
          margin-bottom: auto;
          border-radius: 25px;
          background-color: #82ccdd;
          padding: 10px;
          position: relative;
          span {
            word-wrap: break-word;
          }
        }
        .message-time {
          position: absolute;
          bottom: -18px;
          font-size: 12px;
          left: 72px;
          color: white;
        }
      }
      .sender .message-container {
        margin-left: 10px;
      }
      .receiver {
        display: flex;
        justify-content: flex-end;
        .message-container {
          margin-right: 10px;
          background-color: #78e08f;
          padding: 10px;
          position: relative;
        }
        .message-time {
          position: absolute;
          bottom: -18px;
          font-size: 12px;
          left: initial;
          right: 72px;
          color: white;
        }
      }
    }
    .message-footer {
      position: relative;
      textarea {
        overflow: auto;
        resize: vertical;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        border: 0;
        color: white;
        height: 60px;
        overflow-y: auto;
        border-radius: 16px;
        padding: 8px 60px 8px 60px;
        font-size: 16px;
        font-weight: 400;
      }
      .fa-attachment {
        position: absolute;
        color: white;
        font-size: 22px;
        font-weight: 700;
        top: 20px;
        left: 22px;
        cursor: pointer;
      }
      textarea:focus {
        box-shadow: none;
        outline: 0;
      }
      .fa-send {
        position: absolute;
        color: white;
        font-size: 22px;
        font-weight: 700;
        top: 20px;
        right: 22px;
        cursor: pointer;
      }
    }
  }

  .profile-pic-circle {
    display: inline-block;
    height: 60px;
    width: 60px;
    position: relative;
    img {
      height: 60px;
      width: 60px;
      border-radius: 50%;
    }
    .online-status {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      position: absolute;
      bottom: 0;
      right: 0;
      border: 2px solid white;
    }
    .online {
      background-color: #4cd137;
    }
    .offline {
      background-color: #c23616;
    }
  }
}

#list-scroll::-webkit-scrollbar {
  width: 4px;
}

/* Track */
#list-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
#list-scroll::-webkit-scrollbar-thumb {
  background: #607d8b;
  border-radius: 10px;
}

/* Handle on hover */
#list-scroll::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
@media only screen and (max-width: 946px) {
  .login-box {
    width: 62%;
  }

  .wrapper {
    position: absolute;
    height: 100%;
    background-color: transparent;
    width: 100%;
    display: flex;

    .list-section {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }
    .chat-section {
      width: 100%;
    }
    .card {
      height: 100%;
      border-radius: 16px;
      background-color: initial;
      border: initial;
      padding: 0;
    }
  }
}
